.hero {
  text-align: center;
  padding: 80px 16px;
  position: relative;
}

.background {
  background: var(--ifm-color-primary-lighter);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -2;
}

[data-theme="dark"] .background {
  background: var(--ifm-color-primary-darker);
}
.content {
  z-index: 100;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
